<launch>
<arg name="robot" />
<arg name="tag_id" />
<arg name="scenario" />
<arg name="speed" default="0.35"/>

<env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />
<param name="tag_id" type="int" value="$(arg tag_id)" />
<param name="scenario" type="str" value="$(arg scenario)" />

<group ns="$(arg robot)" >
  <node pkg="roswifibot" type="wifibot_node" name="wifibot_node" required="true"
        args="_port:=/dev/ttyUSB0
              _base_frame:=$(arg robot)_base_frame
              _odom_frame:=$(arg robot)_odom
              _entrax:=.39
              _relay1:=true
              _relay2:=true
              _relay3:=true"
        output="screen" />
  <node name="gulliview_client" pkg="gv_client" type="gv_socket_server.py" output="screen" />
  <node name="mapdata_server" pkg="mapdata" type="map_data_node.py"
        args="_map_name:='eg5355'"
        output="screen" />
  <node name="mission_planner" pkg="mission_planner" type="mission_planner_node.py" output="screen"
        args="_speed:=$(arg speed)"/>
  <node name="coordination" pkg="coordination" type="coordination_node.py" output="screen" />
  <node name="controller_client" pkg="intercrossing_master" type="controller_client.py" output="screen" />
  <node name="teleop_joy" pkg="roswifibot" type="wifibot_teleop_joy.py" />
</group>
</launch>
